<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ionbackbutton (click)="Voltar()" text="">
          <ion-icon color='dark' class='back-item' name="arrow-back" style="margin-left: 25px;"></ion-icon>
      </ionbackbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class='background'>
  <ion-grid>
  <ion-img class='pig-icon' src='https://www.flaticon.com/svg/static/icons/svg/584/584093.svg'></ion-img>
  </ion-grid>

  <ion-grid>
  <p style="margin-top: 50px; margin-left: 25px; margin-right: 25px; text-align: justify; height: 200px;">
    Desenvolvimento de uma plataforma de investimentos como objetivo em Trazer 
    Nós da equipe Klimb tem como objetivo trazer comodidade e praticidade na hora de 
    realizar investimentos em um novo projeto. 
    Além das oportunidades de investimento, queremos ajudar   
    principalmente aqueles que precisam de um determinado 
    investimento para tirar o projeto do papel, 
    dando opção do usuário expor seu projeto.</p>
  </ion-grid>


</ion-content>
