<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>  
  <ion-row>  
    <ion-col>
      <h2 class="h2">
        <b>Login</b>
      </h2>
        
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input type=password placeholder="Senha"></ion-input>
      </ion-item>

      <ion-button expand="full" color="success">Entrar</ion-button>

      
    </ion-col>   
  </ion-row>
</ion-grid>  
</ion-content>

<ion-footer>
  <p class="pt">Português | Ajuda | Privacidade</p>
</ion-footer>
