<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ionbackbutton (click)="Voltar()" text="">
                <ion-icon id="botao-back-header" name="arrow-back" style="margin-left: 25px;"></ion-icon>
            </ionbackbutton>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content class="background">
    <div>
        <p style="margin-top: 50px; margin-left: 25px; margin-right: 25px; text-align: justify; height: 200px;">
            A sua privacidade é importante para nós. É política do klimb respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site klimb, e outros sites que possuímos e operamos. Solicitamos informações pessoais apenas quando realmente
            precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. Apenas retemos as informações coletadas pelo tempo necessário
            para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercial- mente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados. Não compartilhamos
            informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei. O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas
            desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto conosco.</p>
    </div>






</ion-content>